---
import AssignPanel from "../components/AssignPanel.jsx";
---

<html lang="en">
  <head>
    <title>Group Assignment</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <AssignPanel client:load />
  </body>
</html>
